<div class="input-fields">
    <div class="input-field">
        <label for="message-author">Author:</label>
        <input id="message-author" type="text" placeholder="What's your name?">
    </div>
    <div class="input-field">
        <label for="message-input">Message:</label>
        <input id="message-input" type="text" placeholder="Say something…">
    </div>
    <div class="input-field submit">
        <button id="submit-message" type="submit">Post</button>
    </div>
</div>

<div id="messages"></div>