<div id="messages"></div>

<div>
    <label for="message-author">Author:</label>
    <input id="message-author" type="text" placeholder="What's your name?">
    <label for="message-input">Message:</label>
    <input id="message-input" type="text" placeholder="Say something…">
    <button id="submit-message" type="submit">Post</button>
</div>